@font-face {
    font-family: roboto;
    src: url(assets/font/Roboto-VariableFont_wdth\,wght.woff2)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, system-ui, Arial,Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    height: 100vh;

    display: grid;
    grid-template-columns: minmax(220px, 1fr) 6fr;
    grid-template-rows: 2fr 8fr;
}

/* Navigation */

nav {
    background-color: rgba(25, 146, 212, 255);
    color: white;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 3lh 15lh 1fr;
    padding-left: 30px;
    padding-top: 30px;
}

.navigation,
.settings {
    display: flex;
    flex-direction: column;
}

.nav-link {
    margin-top: 1.3rem;
}

.nav-link a {
    color: white;
    font-weight: bold;
}

.nav-link a:hover {
    transition: .2s;
    color: #0a3a54;
}

.nav-link img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 30px;
    margin-bottom: -4px;
}

.dashboard {
    display: flex;

}

.dashboard img {
    width: 2.2rem;
    height: 2.2rem;
    margin-left: -8px;
    margin-right: 20px;
}

.dashboard span {
    font-weight: bold;
    font-size: 1.5em;
    align-self: flex-start;
    padding-top: 5px;
}

/* Header */

header {
    --top-bottom: 15px;
    --left-right: 80px;
    box-shadow: 0 4px 4px -4px lightgray;
    padding: var(--top-bottom) var(--left-right) 
             var(--top-bottom) var(--left-right);

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.profile-header {
    gap: 2rem;
    justify-self: flex-end;
}

.notification-bell, 
.search img {
    height: 1.7rem;
    width: 1.7rem;
}

.small-logo {
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 60px;
}

.search,
.greeting,
.profile-header,
.action {
    display: flex;
    align-items: center;
}

.profile-header span {
    font-weight: bold;
}

.greeting img {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 60px;
    margin-right: 25px;
}

.greet {
    display: grid;
    grid-template-rows: 1rem 1rem;
    gap: 6px;
    font-weight: bold;
}

.greet span:first-child {
    font-size: .85rem;
}

.greet span:last-child {
    font-size: 1.4rem;
}


/* Main */

main {
    padding: 30px 30px 0 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / -1;
    padding-right: 20px;
}

.project-content {
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 20px;
}

.project-card {
    border: 1px solid black;
    border-radius: 10px;
}



